@media screen  and (min-width: 320px) and (max-width: 480px){
    
    header{
        width: 100%;
    }

    .biografia{
        display: grid;
        grid-area: auto;
        padding: 10px;
            img{
                border: 2px solid black;
            }
    }

    hr{
        margin: 0px;
        width: 100%;
        align-self: center;
    }

    .contacto{
        width: 100%;
        margin: 40px;
        padding: 0px;
    }












}